@import '../../../../styles';
.topbar-container {
  width: 1200px;
  height: 162px;
  background-color: white;
  border: solid 1px lightsteelblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .ncl-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 900px;
  }
  .dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 32px;
  }
}
